<h2>Register</h2>
<p>Register as a new user below. Please provide a username and password.</p>
<form action="/register" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <input type="submit" value="Register!">
</form>
