<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h2>Create a New Comic Book Here</h2>

<form action="/comics" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" required><br>
  <label for="writer">Writer:</label><br>
  <input type="text" id="writer" name="writer" required><br>
  <label for="artist">Artist:</label><br>
  <input type="text" id="artist" name="artist" required><br>
  <label for="notes">Notes: (optional)</label><br>
  <textarea name="notes" id="notes" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Create a New Comic!">
</form>
