<h1>MyComicsBox</h1>
<p><em>Welcome to MyComicsBox, a website where you can catalog your comic books. Please log in or register below to continue.</em></p>
<p><a href="/register">Register</a></p>
<p><a href="/login">Log In</a></p>
