<h1>My Comics Box</h1>
<p><em>Welcome to My Comics Box, a website where you can catalog your comic books. Please log in or register below to continue.</em></p>
<p><a href="/register">Register</a></p>
<p><a href="/login">Log In</a></p>
